* {
    margin: 0;
    padding: 0;
}

.title {
    border: black solid 1px;
    background-color: lightgray;
    width: 100%;
    height: auto;
}

.title h1 {
    text-align: center;
    font-size: 28px;
}

img {
    width: 100%;
    height: 200px;
}

.logo {
    width: 100px;
    height: auto;
}

.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 400px;
    margin: 2%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

p,
button {
    width: 100%;
}