.box1 {
    background-color: lightgray;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 410px;
    width: 330px;
    margin: 2%;
    padding: 12px;
}

.box img {
    width: 300px;
    height: 300px;
}

.title {
    border: black solid 1px;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    height: auto;
}

.body {
    background-color: gray;
}

.card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 300px;
    height: 300px;
}