 body {
     background-color: black
 }
 
 h1,
 h2 {
     color: blanchedalmond;
     text-align: center;
     font-size: 50px;
 }
 
 div {
     border: 1px black solid;
     background-color: black;
     color: blanchedalmond;
     width: 70%;
     height: 500px;
     margin: 10px auto;
     text-align: center;
 }